body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  background-color: #fbfbfb;
  height: 100px;
  width: 100%;
}
.nav-links {
  display: flex;
  flex-direction: row;
  font-family: 'Kaisei HarunoUmi', serif;
  gap: 25px;
  align-items: center;
  list-style-type: none;
}
.login-container {
  font-family: 'Kaisei HarunoUmi', serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-right: 50px;
  list-style-type: none;
}
.header-container {
  height: 500px;
  width: 100%;
}
.img-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  width: 50%;
  padding-right: 10%;
}
.img-container img {
  height: 100%;
}
.text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content {
  padding-left: 10%;
  width: 50%;
}
.h2-header {
  font-size: 60px;
  width: 60%;
  margin-bottom: 0;
}
.p-header {
  font-family: 'Kaisei HarunoUmi', serif;
  font-size: 20px;
  color: #000;
}
.btn-header {
  background-color: #18c7c9;
  box-shadow: 0 2px 5px 0 rgb(0 18 71 / 20%);
  font-size: 15px;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
}
.benefits {
  height: 400px;
  width: 100%;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
}
.three-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-1, .card-2, .card-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.card-1 h3, .card-2 h3, .card-3 h3 {
  font-family: 'Kaisei HarunoUmi', serif;
  font-size: 25px;
  width: 85%;
  text-align: center;
}
.card-1 p, .card-2 p, .card-3 p {
  width: 80%;
  text-align: center;
  font-family: 'Kaisei HarunoUmi', serif;
}
.set-up-info {
  width: 100%;
  height: 600px;
}
.info-content {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 25px;
}
.reasons {
  padding-top: 40px;
}
.reasons-h2 {
  font-size: 40px;
  font-weight: 100;
  font-family: 'Kaisei HarunoUmi', serif;
}
.reasons-h2.reverse {
  padding-left: 5%;
}
.reasons-ul.reverse {
  padding-left: 5%;
}
.reasons-ul {
  list-style: none;
  line-height: 40px;
  font-size: 25px;
  padding-left: 0;
} 
.reasons-ul li::before {
  content: '✓';
  color: #597eff;
  padding-right: 10px;
}
.set-up-info.reverse {
  padding-top: 0;
}
.info-content.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.reasons.reverse {
  width: 45%;
}
.footer {
  bottom: 0;
  height: 400px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bar-img {
  margin-top: -90px;
}
.footer-content {
  text-align: center;
}
.footer-content h3 {
  font-size: 20px;
  font-weight: 100;
  font-family: 'Kaisei HarunoUmi', serif;
}
.footer-content h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Kaisei HarunoUmi', serif;
}
p.p-small-header {
  margin: 0;
  padding-top: 10px;
  font-size: 15px;
}
.phone {
  display: none;
}
@media only screen and (max-width: 2304px) {
  .img-container {
    padding-right: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .reasons {
    width: unset;
  }
  .img-content {
    width: unset;
  }
  .img-container {
    padding-right: 5%;
  }
  .h2-header {
    width: 100%;
  }
  .set-up-info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .info-content.reverse {
    align-items: center;
    flex-direction: column-reverse;
  }
  .img-content {
    padding-right: 5%;
  }
  .reasons.reverse {
    width: 65%;
  }
  .info-content.end {
    padding-top: 0;
  }
  .footer {
    height: 100%;
  }
  .bar-img {
    margin: unset;
  }
  p.p-small-header {
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 909px) {
  .header-container {
    height: 100%;
    padding-bottom: 10%;
  }
  .text-container {
    flex-direction: column;
  }
  .login-container {
    padding-right: 20px;
  }
  .content {
    padding-left: 0;
    width: 75%;
  }
  .img-container {
    padding-top: 5%;
    padding-right: 15%;
    width: unset;
  }
  .benefits {
    height: 100%;
  }
  .three-card {
    flex-direction: column;
    align-items: center;
  }
  .card-1, .card-2, .card-3 {
    width: 60%;
    padding-top: 30px;
  }
  .card-3 {
    padding-bottom: 30px;
  }
  .reasons.reverse {
    width: 80%;
    padding-top: 0;
  }
}
@media only screen and (max-width: 660px) {
  .phone {
    display: flex;
    align-items: center;
    color: #767b84;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 25px;
    justify-content: center;
    width: 100%;
  }
  .nav-links, .login-container {
    display: none;
  }
  .img-content {
    height: 200px;
  }
  .img-content img {
    height: 100%;
  }
  .img-container {
    height: 250px;
  }
  .h2-header {
    font-size: 30px;
  }
  .reasons-h2 {
    font-size: 20px;
  }
  .reasons-ul {
    font-size: 15px;
  }
  .footer-content h1 {
    font-size: 30px;
  }
  .content {
    width: 90%;
    padding-left: 10px;
  }
  .set-up-info {
    display: unset;
  }
}